//variables
$font_1:'Raleway', sans-serif;
$font_2:'Work Sans', sans-serif;
$col_1:#ffffff;
$col_2:#EEE8AA;
$col_3:#8d8d8d;
$col_4:#151513;
$col_5:#967a7a;
$col_6:#1298dd;
$block:block;
$inlineB:inline-block;
$rt:right;
$lt:left;
$size:30px;
$size2:10px;

@mixin fonts{
	font:{
		size:$size;
		family:$font_1;
	}
}

@mixin fonts2($color:null,$wordSpc:null,$size:null,$font:null){
	color:$color;
	word-spacing:$wordSpc;
	font-size:$size;
	font-family:$font;
}

*{
	margin: 0;
}
.navigation-panel{
	height: 67px;
	background-color: $col_1;
}
li{
	display: $inlineB;
	font-family: $font_1;
	margin-top:17px;
	padding:12px 36px;
	
&:hover{
		border-radius:8px;
		background-color: $col_2;
	}
a{
		text-decoration: none;
		color:$col_3;
	}
}
.menu{
	float:$rt;
	margin-right:148px;
}
.logo{
	margin-left:150px;
	margin-top:16px;
	display:$inlineB;
	@include fonts;
}
.main-picture{
	height: 550px;
	background-image: url('https://cdn.pixabay.com/photo/2019/07/08/15/05/travel-4324953_960_720.jpg');;
	background-size: cover;
	position: relative;
}
h1{
@include fonts2($col_1,5px,40px,$font_1);
text-align:center;
text-transform:uppercase;
padding-top:170px;
}
.wrapper{
	p{
		margin:30px;
		letter-spacing:1px;
		@include fonts2($col_4,2px,20px,$font_2);
	}
}
nav{
	position: fixed;
	z-index: 100;
	width: 100%;
}
.photo1{
	float:$rt;
	margin:20px;
	box-shadow:3px 3px 14px 5px rgba(0,0,0,0.58);
}
.photo2, .photo3{
	@extend .photo1;
	}
	.photo2{
		float: $lt;
	}
.newsBlock{
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;
	flex-basis:auto;
	//function size = 30 size2 = 10
		@function img-width($n){
			@return $n*$size2+$size*10;
		}
	img{
		width:img-width(29);
		border: 2px solid whitesmoke;
		border-radius:30px;
	}
}
.weve{
	padding-top:30px;
	text-align:center;
	@include fonts2($color:$col_5,$font:$font_1);
	clear:both;
}
.rightF{
	float:right;
	padding-right: 100px;
}
.leftF{
	float:left;
	padding-left: 100px;
	letter-spacing: 3px;
}
footer{
	display:block;
	background-color: black;
	margin-top: 40px;
	@include fonts2($size:18px,$font:$font_1,$color:$col_6);
}


.info{
	display:grid;
	grid-template-columns:1fr 2fr 1fr;
	grid-gap:100px;
	justify-items:center;
	grid-auto-rows:minmax(200px,auto);
	p{
		@include fonts2($size:24px,$font:$font_1);
		padding: 10px 10px;
	}
	div{
		margin: 0px 30px;
		border:2px solid $col_6;
		border-radius:6px;
		box-shadow:3px 29px 20px -22px rgba(0,0,0,0.67);
		@include fonts2($size:24px,$font:$font_1);
	}
}
.changeLink, .tableCard{
	text-align: center;	
}
p{
	width: auto;
	text-decoration: none;
	color:$col_3;
	font-size: 18px;
	text-align: center;
}
.about{
	background-color: $col_2;
	height: 341px;
	width: 593px;
	position:relative;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	border-bottom:8px solid #1298dd;
	border-radius: 6px;
	margin-left:660px;
	margin-top:-100px;
	box-shadow:0 0 12px rgba(0,0,0,0.5);
	h2{
		margin-top: 20px;
	}
	textarea{
		resize: none;
	}
}
form div{
	display: flex;
	flex-direction:column;
	margin-top: 30px;
}