#tb3 {
  border: 2px solid blue;
  border-radius: 6px;
  text-align: center;
  border-spacing: 13px;
  background: linear-gradient(50deg ,#b2cbeb, #ffffff);
}
td:last-child {
  text-align: left;
}
th,
td {
  border: 0.2px solid blue;
  border-radius: 10px;
  padding: 5px 5px;
}
